@media(max-width: 1024px){
    .header{
        padding: 30px;
    }

    .home{
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 20px;
    }

    .home .informations{
        max-width: 100%;
        text-align: center;
        align-items: center;
        font-size: 14px;
    }

    .projects .container-projects{
        padding: 0 30px;
    }
}





